ci:
  skip:
    - fetch-build-deps
    - golangci-lint-full
    - govulncheck
    - prepend-license
    - go-fmt
    - go-mod-tidy
    - go-vet

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=700']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
      # - id: no-commit-to-branch
      - id: trailing-whitespace

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.6.1
    hooks:
      - id: golangci-lint-full
        args: ["--config=.golangci.yml"]

  - repo: local
    hooks:
      - id: fetch-build-deps
        name: fetch build deps
        entry: go run bin/fetchbuilddeps/fetchbuilddeps.go
        language: system
        pass_filenames: false

      - id: prepend-license
        name: prepend license
        # This program implicitly only operates on specific file types, which
        # are configured within the program itself, hence no "types_or" here.
        entry: go run bin/prependlicense/prependlicense.go
        language: system
        pass_filenames: false

      - id: govulncheck
        name: govulncheck
        entry: go tool govulncheck ./...
        language: system
        types_or: [ go, go-mod, go-sum ]
        pass_filenames: false

      - id: go-fmt
        name: go fmt
        entry: go fmt ./...
        language: system
        types_or: [ go, go-mod, go-sum ]
        pass_filenames: false

      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        types_or: [ go, go-mod, go-sum ]
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        types_or: [ go, go-mod, go-sum ]
        pass_filenames: false
